:host {
    display:grid;
    height:100px;
    grid-template-columns: 1fr 2fr;
}

h1 {
    display:inline-block; 
    grid-column:1;
    margin:0;
    padding:0;
    line-height:100px;
}

ul {
    grid-column:2;
    text-align:right;
    margin:0px;
    padding:0;
}

li {
    cursor:pointer;
    list-style:none;
    display:inline-block;
    margin:0 15px;
    padding:0;
    line-height:100px;
}