@import "../../styles/base/index";

ce-conversation-list {
	@extend .view-card;

    h2 {
        margin-top:0px;
    }

    ce-link {
        display:inline-block;
        margin-bottom:40px;
    }

}
