.entity-list-title {
    margin-top:0;
}

.entity-list-entity-create {
    display:inline-block;
    margin-bottom:40px;
    color:#777;
    font-size:.85em;
    line-height:1em;
}

.entity-list-entity-create:hover {
    text-decoration:underline;
    color:#000;
}