.view-card {    
    -webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.15);
    box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.15);
    display:block;
    padding:20px 20px 60px 20px;
    background-color:#FFF;
    max-width: calc(100% - 40px);    
}

.entity-create {
    display:inline-block;
    margin-bottom:40px;
    color:#777;
    font-size:.85em;
    line-height:1em;
}

.entity-create:hover {
    text-decoration:underline;
    color:#000;
}
