@import "../../styles/breakpoints";

.header {
    height:100px;
    background-color:#FFF;
    box-shadow:0px 4px 5px 0px rgba(0, 0, 0, 0.15);

    h1 {
        margin: 10px;
    }
}

@media only screen and (min-width: $screen-sm-min) { 


}

@media only screen and (min-width: $screen-md-min) { 


}

@media only screen and (min-width: $screen-lg-min) { 


}
